<p id="notice"><%= notice %></p>

<h1>Schools</h1>

<table>
  <thead>
    <tr>
      <th>Rut</th>
      <th>Rol data base</th>
      <th>Name</th>
      <th>Type</th>
      <th>Integration</th>
      <th>Region</th>
      <th>Comuna</th>
      <th>Adress</th>
      <th>Phone</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @schools.each do |school| %>
      <tr>
        <td><%= school.Rut %></td>
        <td><%= school.rol_data_base %></td>
        <td><%= school.name %></td>
        <td><%= school.type %></td>
        <td><%= school.integration %></td>
        <td><%= school.region %></td>
        <td><%= school.comuna %></td>
        <td><%= school.adress %></td>
        <td><%= school.phone %></td>
        <td><%= school.email %></td>
        <td><%= link_to 'Show', school %></td>
        <td><%= link_to 'Edit', edit_school_path(school) %></td>
        <td><%= link_to 'Destroy', school, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New School', new_school_path %>
